.carousel {
display: flex;
overflow-x:auto;
scroll-snap-type: x mandatory;
}

.carousel div {
display: flex;
flex-shrink: 0;
scroll-snap-align: start;
justify-content: center;
scroll-behavior: smooth;
align-items: center;
}

img {
    object-fit: cover;
    width: 500px;
    height: 500px;
}
h5 {
font-size: 12px;
}

* {
margin: 0;
padding: 0;
}

.navi {
width: 100%;
height: 100px;
font-size: 20px;
}

.navi ul li{
list-style:none;
display: inline-block;
}

.navi ul li a {
text-decoration:none;
font-size: 20px;
}

h1 {
font-size: 60px;
}

ul li img {
width: 450px;
height: 350px;
px;
}

.scrollbox {
overflow: scroll;
width: 200px;
height: 200px;
margin: 10px;
font-size: 15px;
}

.ulist ul {
display: list-item;
list-style-type: square;
margin-left: 25px;
}

.ulist {
margin-left: 20px;
}

.ulist h {
font-size: 15px;
font-weight:bold;
}

.usefulLink {
font-size: 15px;
}